[submodule "foamStyleCheck"]
	path = foamStyleCheck
	url = git@github.com:petebachant/foamStyleCheck.git
[submodule "TurbulenceModels/wallFunctions"]
	path = TurbulenceModels/wallFunctions
	url = https://github.com/SedFoam/wallFunctions.git
